  <nav>
    <div class="nav-wrapper blue">
      <a href="/" class="brand-logo left">NBC NEWS</a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape News</a></li>
      </ul>
    </div>
  </nav>